<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- <head>  </head>tags = Metadata-->
    <link rel="stylesheet" href="/static/styles/index-style.css">
    <link rel="icon" type="image/x-icon" href="resources/favicon.ico">
    <title>Art Portfolio</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Art, Portfolio, 3D, 2D, Blender">
    <meta name="description" content="Art Portfolio">
    <meta name="author" content="Antonio Busuladzich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    } 
    function zoom(id){
        if (document.getElementById(id).style.maxWidth == "5%"){
            document.getElementById(id).style.maxWidth = "100%";
            document.getElementById(id).style.position = 'center';
        }
        else if (document.getElementById(id).style.maxWidth == "100%"){
            document.getElementById(id).style.maxWidth = "5%";
            document.getElementById(id).style.position = 'relative';
        }
        
    }
    </script>
</head>

<body class = "background">
    <div>
        <img class = "title-image" src = "/static/resources/icons/137904_fhLsAbSE.png" alt = "title-image">
        <h1 class = "text-format">Art Portfolio | By Antonio Busuladzich</h1>
    </div>
    <hr>
    <div style="text-align: end;" id = "links">
        
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="https://github.com/drullar/Portfolio-site" target="_blank" alt="source code" title="Source code">
                Source Code<img class="link-icons" src="/static/resources/icons/github.png" alt="github icon"></a>
            <a href="https://www.linkedin.com/in/antonio-busuladzic-aa9201148/" target="_blank" alt="linkedin" title = "LinkedIn">
                LinkedIn<img class="link-icons" src="/static/resources/icons/linkedin.png" alt="linked icon"></a>
            <a href ="mailto:porfolio+antonio.busuladzich@gmail.com" target="_blank" title="mailto:porfolio+antonio.busuladzich@gmail.com">
                Contacts<img class="link-icons" src="/static/resources/icons/gmail.png" alt="gmail icon" target="_blank"></a>
            <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" alt="youtube" target="_blank" title = "Youtube Channel">
                Youtube Secret<img class="link-icons" src="/static/resources/icons/YouTube_social_red_circle_(2017).svg" alt="youtube icon"></a>
            <a href="https://www.blender.org/" alt="blender" target="_blank" title = "Blender Software">
                Blender<img class="link-icons" src="/static/resources/icons/blender.svg" alt="blender icon"></a>
          </div>
          
          <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;Links</button>
          </div>

    <div id = "Gallery">
        {% for hist in hists %}
        <span>
            <img class ="gallery-image" onclick="zoom(this.id)" src="{{url_for('static', filename=hist)}}" alt="{{hist}}" id = {{hist}}>
        </span>
        {% endfor %}
</div>
</body>

</html>