@font-face {
    font-family: Gidole;
    src: url(fonts/Gidole-Regular.ttf);
  }
  
  .title {
    position: center;
  }
  
  .background {
      background-color: rgb(43, 42, 51);    
  }
  
  .title-image{
    width: 50px;
    height: 50px;
    margin-bottom: -40px;
}
  .title-text {
    text-align: center;
    margin-top: 0px;
    padding-left: 50px;
    font-size: 30px;
    max-width: 100%;
}
  
  .links-text {
      font-size:100%;
      margin-bottom : 5px;
      margin-top: 1%;
  }
  
  .text-format {
      font-family: Gidole, Geneva, Tahoma, sans-serif;
      color: rgb(252, 244, 218);
  }
   
  #Gallery ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
  }
  #Gallery li{
    height: 160px;
    flex-grow: 1;
  }

  #Gallery img{
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    cursor:pointer;
  }
  
  .link-icons {
      border: 3px inset rgb(252, 244, 218);
      border-radius: 50%;
      margin-bottom: 5px;
      margin-top:0%;
      background-color: aliceblue;
      width: 25px;
      height: 25px;
  }
  
  .navbar {
      margin-bottom: 1%;
  }
  
   /* The sidebar menu */
   .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0;
      left: 0;
      background-color: #111; /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
    
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
    }

    .openbtn:hover {
      background-color: #444;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 20px;
    }
    footer{
      border-top: solid rgb(252, 244, 218);
      padding-top: 15px;
      width: 100%;
    }

    .footer-div a{
      font-size: 0;
      margin-top:10px;
      margin-left: 6%;
      margin-right: 5%;
    }

    .about-list{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .about-list h2{
      margin-left:-20px;
    }
    
    .description-list {
      list-style-type:circle;
      margin-top:5%;
    }
    .description-list li{
      margin-bottom:5px;
    }
    
    .about-text{
      font-size:x-large;
      text-align: left;
      padding-left: 0%;
      display:block;
    }
    
    #nbu-image{
      max-width: 300px;
    }

    .social-icons{
      margin-left: -20%;
    }
  
    .about-list li{
      flex-grow: 1;
      width: 100%;
    }