@font-face {
    font-family: Gidole;
    src: url(fonts/Gidole-Regular.ttf);
  }

.title {
  position: start;
  width: 30%;
  margin-top:0px;
}

.background {
    background-color: rgb(43, 42, 51);
    
}

.title-image{
    width: 50px;
    height: 50px;
    padding-right: 50px;
    margin-bottom: -40px;
}

h1 {
    text-align:left;
    margin-top: -5px;
    padding-left: 50px;
    font-size: 40px;
}

.links-text {
    font-size:100%;
    margin-bottom : 5px;
    margin-top: 1%;
}

.about_text{
  font-size:x-large;
  text-align: relative;
  padding-left: 0%;
  display:block;
}

.about_text h2{
  padding-left:3%;
}

.text-format {
    font-family: Gidole, Geneva, Tahoma, sans-serif;
    color: rgb(252, 244, 218);
}

.gallery-image{
    max-width: 50%;
    height: auto;
    position:center;
}

.gallery{
  position:left;
  width: 100%;
  height: auto;
}

.link-icons {
    border: 3px inset rgb(252, 244, 218);
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top:0%;
    background-color: aliceblue;
    width: 25px;
    height: 25px;
    position: center;
}

.navbar {
    margin-bottom: 1%;
}
 /* The sidebar menu */
 .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
    text-decoration: underline;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .footer{
    border-top: solid rgb(252, 244, 218);
    padding-top: 30px;
    width: 100%;
    display:flex;
    align-items: center;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 